.dmBox{
    font-size: 10px;
    font-family:Arial;
    background-color: coral;
    border:thin solid black;
    border-radius: 1em;
    display:flex;
    flex-direction: row;
    flex: 0 50px;
    align-self: right;
    text-align: justify;
    align-content: justify;
    width:50px;
}