.inspirationBox{
    height:85vh;
    width: 90vw;
    border-radius: .1em;
    border: solid thin black;
    background-color: rgb(156, 227, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:x-large;
    padding:1em;
}
