.dmBox{
    font-size: 3.7vh;
    font-family:Arial;
    background-color: coral;
    border:thin solid black;
    border-radius: .7em;
    display:flex;
    flex-direction: column;
    flex: 1 1;
    text-align: center;
    align-content: justify;
    width: 15vh;
    position:absolute; right:8px; top:8px;
    height:15vh;
}
.backButton{
    font-size: 3.7vh;
    font-family:Arial;
    background-color: lightskyblue;
    border:thin solid black;
    border-radius: .7em;
    display:flex;
    flex-direction: column;
    flex: 1 1;
    text-align: center;
    align-content: justify;
    width: 15vh;
    position:absolute; left:8px; top:8px;
    height: 15vh;
}
.verticalSplit{
    display:flex;
    flex-direction:column;
    flex: 0 50px;
}
.horizontalSplit{
    display:flex;
    flex-direction:row;
    flex: 0 50px;
}
.nextWorkoutBox{
    display: flex;
    flex:1;
    background-color: bisque;
    border-radius: .2em;
    padding:0px;
    padding-right: 0px;
    margin:auto;
    width: 50%;
    font-size: 10vw;
    text-align: center;
}
.pastWorkoutsBox{
    display: flex;
    flex:1;
    background-color:aquamarine;
    border-radius: .2em;
    padding:0px;
    padding-left: 0px;
    margin:auto;
    width:50%;
    font-size:10vw;
    text-align: center;
}
.inspirationBox{
    display:flex;
    flex:1;
    width:100%;
    background-color:cadetblue;
    border-radius: .1em;
    padding:0px;
    margin:auto;
    font-size: 20vw;
    justify-content: center;
}
header{
    background-color: darkgray;
    padding-top:0px;
    margin:0px;
    border-radius: .7em;
    flex:0;
    height:15vw;
    text-align: center;
}

body{
    margin:8px;
    height:98vh;
    background-color: rgb(154, 205, 227);
    display: flex;
    flex-direction: column;
}
footer{
    justify-content: center;
    text-align: center;
    flex: 0;
}
main{
    flex:1;
}


.dark-mode{
    background-color: rgb(18, 24, 36);
    color: white;
}

.light-mode{
    background-color: rgb(154, 205, 227);
    color:black;
}